@model Locacao
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cadastrar - Locação</title>
</head>

<body>
    <header>
        <div class="container">
            <nav class="menu">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </nav>
        </div>
    </header>

    <section>
        <div class="container">
            <form asp-action="Cadastrar" asp-controller="Locacao" method="post">
                <fieldset>
                    <legend>Cadastrar Locação</legend>
                    <div asp-validation-summary="ModelOnly"></div>

                    <label asp-for="cliente">Nome do Cliente:</label>
                    <select asp-items="@ViewBag.Cliente" asp-for="cliente">
                        <option>-- ESCOLHER --</option>
                    </select>
                    <span asp-validation-for="cliente" />
                    <br />

                    <label asp-for="funcionario">Nome do Funcionário:</label>
                    <select asp-items="@ViewBag.Funcionario" asp-for="funcionario">
                        <option>-- ESCOLHER --</option>
                    </select>
                    <span asp-validation-for="funcionario" />
                    <br />

                    <label asp-for="veiculo">Veículo:</label>
                    <select asp-items="@ViewBag.Veiculo" asp-for="veiculo">
                        <option>-- ESCOLHER --</option>
                    </select>
                    <span asp-validation-for="veiculo" />
                    <br />

                    <label asp-for="formaPagamento">Forma de pagamento:</label>
                    <select asp-for="formaPagamento">
                        <option>-- ESCOLHER --</option>
                        <option value="Dinheiro">Dinheiro</option>
                        <option value="Cartão de crédito">Cartão de crédito</option>
                        <option value="Cartão de débito">Cartão de débito</option>
                    </select>
                    <span asp-validation-for="formaPagamento" />
                    <br />

                    <label asp-for="previsaoEntrega">Previsão da entrega:</label>
                    <input asp-for="previsaoEntrega" type="date" />
                    <span asp-validation-for="previsaoEntrega" />

                    <div>
                        <input type="submit" value="Cadastrar" />
                    </div>
                </fieldset>
        </form>
        </div>
    </section>
</body>

</html>


