@model Locacao
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Colorlib Templates" />
    <meta name="author" content="Colorlib" />
    <meta name="keywords" content="Colorlib Templates" />

    <title>Cadastrar - Locação</title>

    <link href="~/vendor/mdi-font/css/material-design-iconic-font.css" rel="stylesheet" media="all" />
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.css" rel="stylesheet" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet" />
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <link href="~/css/cadastrar.css" rel="stylesheet" media="all">

    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" media="all" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" media="all" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="all" />

</head>

<body>
    <!--<header>

    </header>-->

    <section>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <!--<button class="navbar-brand disabled">Listar Clientes</button>-->
                <a asp-action="Portal" asp-controller="Home" class="navbar-brand" role="button">Portal</a>
                <a asp-action="Cadastrar" asp-controller="Cliente" class="navbar-brand" role="button">Cadastrar Cliente</a>
                <a asp-action="Cadastrar" asp-controller="Funcionario" class="navbar-brand" role="button">Cadastrar Funcionário</a>
                <a asp-action="Index" asp-controller="Funcionario" class="navbar-brand" role="button">Listar Funcionários</a>
                <a asp-action="Cadastrar" asp-controller="Veiculo" class="navbar-brand" role="button">Cadastrar Veículo</a>
                <a asp-action="Index" asp-controller="Veiculo" class="navbar-brand" role="button">Listar Veículos</a>
                <a asp-action="Index" asp-controller="Locacao" class="navbar-brand" role="button">Listar Locações</a>
                <a asp-action="Reservados" asp-controller="Reserva" class="navbar-brand" role="button">Listar Reservas</a>
                <a asp-action="Devolucao" asp-controller="Locacao" class="navbar-brand" role="button">Devolver</a>
            </div>
        </nav>
        <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
            <div style="text-align: right; margin: 20px 200px 10px 0">
                <a asp-action="Logout" asp-controller="Gerente" class="btn btn--radius-2 btn--red">Logout</a>
            </div>
            <div class="wrapper wrapper--w790">
                <div class="card card-5">
                    <div class="card-heading">
                        <h2 class="title">Cadastrar Locação</h2>
                    </div>
                    <div class="card-body">
                        <form asp-action="Cadastrar" asp-controller="Locacao" method="post">

                            <div class="form-row">
                                <div class="name">Nome Cliente</div>
                                <div class="value">
                                    <div class="input-group">
                                        <div class="rs-select2 js-select-simple select--no-search">
                                            <label asp-for="cliID" />
                                            <select asp-items="@ViewBag.Cliente" asp-for="cliID">
                                                <option disabled="disabled" selected="selected">Escolha a opção</option>
                                            </select>
                                            <div class="select-dropdown"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Nome Funcionário</div>
                                <div class="value">
                                    <div class="input-group">
                                        <div class="rs-select2 js-select-simple select--no-search">
                                            <label asp-for="funID" />
                                            <select asp-items="@ViewBag.Funcionario" asp-for="funID">
                                                <option disabled="disabled" selected="selected">Escolha a opção</option>
                                            </select>
                                            <div class="select-dropdown"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Veículo</div>
                                <div class="value">
                                    <div class="input-group">
                                        <div class="rs-select2 js-select-simple select--no-search">
                                            <label asp-for="vecID" />
                                            <select asp-items="@ViewBag.Veiculo" asp-for="vecID">
                                                <option disabled="disabled" selected="selected">Escolha a opção</option>
                                            </select>
                                            <div class="select-dropdown"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Forma de pagamento</div>
                                <div class="value">
                                    <div class="input-group">
                                        <div class="rs-select2 js-select-simple select--no-search">
                                            <label asp-for="formaPagamento" />
                                            <select asp-for="formaPagamento">
                                                <option disabled="disabled" selected="selected">Escolha a opção</option>
                                                <option value="Dinheiro">Dinheiro</option>
                                                <option value="Cartão de crédito">Cartão de crédito</option>
                                                <option value="Cartão de débito">Cartão de débito</option>
                                            </select>

                                            <div class="select-dropdown"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Previsão de entrega</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="date" asp-for="previsaoEntrega">
                                        <label asp-for="previsaoEntrega" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn--radius-2 btn--red" type="submit" value="Cadastrar">Cadastrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/datepicker/moment.min.js"></script>
    <script src="~/vendor/datepicker/daterangepicker.js"></script>
    <script src="~/js/cadastrar.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>
</html>
